@media screen and (max-width:1440px) and (min-width:1281px) {
	#slidepage_container { background:#000000; position:fixed; width:100%; right:0px; top:0px; z-index:99999; margin:0; padding:0 }
	#slide_bg { background:#333; width:1600px; height:3000px; position:absolute; top:0px; right:-1600px; z-index:995; opacity:0.9; filter:Alpha(opacity=90) }

	/* 최근본상품 영역 */
	#slidecarts { width:77px; height:100%; min-height:3000px; background:#ccc; float:left; z-index:999 }
	.slidepage_header { width:1600px; height:85px; padding-left:15px }	
	.slidepage_title { width:1200px; height:85px; color:#fff; float:left }
	#slide_content2 .slidepage_title h2 { display:inline; width:420px; float:left }
	#slide_content2 .slidepage_title h3 { display:inline; width:600px; margin-top:3px; float:left }
	#slide_content1 .slidepage_close { float:left; position:absolute; cursor:pointer; text-align:right; top:5px; left:1100px }
	#slide_content2 .slidepage_close { float:left; position:relative; cursor:pointer; text-align:right; top:15px; right:155px }
	.slidepage_close { width:45px }

	/* 풋스아울렛 영역 */
	#slide_wrap1 { width:1600px; padding:0px 0px 0px 0px; background:url(../img/outlet_bg.jpg) no-repeat; background-size:1150px 700px  }
	#slide_content1 { width:1500px; height:3000px; right:-1600px; z-index:997; top:0px; position:absolute; background:url(../img/preview_bg2.jpg?v=20140123) }

	.footsoutlet { width:1150px; height:1000px; /* margin:0px 0px 0px 15px; */ overflow:hidden }
	.footsoutlet span { display:block }

	.outlet01 { width:380px; height:200px; margin-top:280px; margin-bottom:20px; float:left; position: relative;}
	.outlet01_a,
	.outlet01_b { width:400px; height:200px; margin-left:30px }
	.outlet01_a span, 
	.outlet01_b span, 
	.outlet03_a span,
	.outlet03_b span { float:left; width:155px; margin-right:40px }
	.outlet02 { width:340px; height:500px; float:left; overflow:hidden; text-align:center }
	.outlet03 { width:400px; height:200px; margin-top:280px; float:left }
	.outlet03_a,
	.outlet03_b { width:400px; height:200px; margin-left:30px }


	
	/* 풋스트립 영역 */
	#slide_wrap2 { width:1600px; padding:10px 0px 0px 0px  }
	#slide_content2 { width:1500px; height:3000px; right:-1600px; z-index:996; top:0px; position:absolute; background:url(../img/preview_bg2.jpg?v=20140123)}

	#slide_content2 .footstrip { width:1200px; height:726px; margin:0px 0px 0px 15px; overflow-x:hidden }
	#slide_content2 .strip01 { width:600px; height:300px; margin:0px 10px 5px 0px; clear:both; float:left }
	#slide_content2 .strip02 { width:580px; height:300px; overflow:hidden }
	#slide_content2 .strip03 { width:1200px; height:355px; clear:both}

	#slide_content2 .strip02 ul { width:650px }
	#slide_content2 .strip02 ul li { width:240px; margin-right:9px; float:left }

	#slide_content2 .strip03 ul { }
	#slide_content2 .strip03 ul li { float:left; margin:0px 10px 10px 0px }
		
	#slide_content2 .strip01 span img { width:600px; height:295px }
	#slide_content2 .strip02 img { width:240px}
	#slide_content2 .strip03 ul li img { width:360px }
}