@media screen and (min-width:320px) and (max-width:1024px) {
	div#slidepage_container { display:none }
	}
	
/*
     FILE ARCHIVED ON 17:48:30 Mar 15, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:12:00 Apr 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 52.113 (3)
  esindex: 0.02
  captures_list: 71.781
  CDXLines.iter: 14.67 (3)
  PetaboxLoader3.datanode: 57.426 (4)
  exclusion.robots: 0.276
  exclusion.robots.policy: 0.261
  RedisCDXSource: 1.721
  PetaboxLoader3.resolve: 19.37
  load_resource: 50.114
*/